<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<title>YouTube - Broadcast Yourself.</title>
<link rel="icon" href="https://s.ytimg.com/yt/favicon-vfl122048.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://s.ytimg.com/yt/favicon-vfl122048.ico" type="image/x-icon">
<style type="text/css">
/* <![CDATA[ */
a:link,a:visited,a:hover {color:#0033CC;text-decoration:none}
/* ]]> */
</style>
<script type="text/javascript">
/* <![CDATA[ */
if(typeof ytm == "undefined") var ytm = {};
ytm.startTime = new Date().getTime();
ytm.iref = {};
ytm.nextiref_ = 1;
ytm.transmitCsi = function(expId, action, errorCode, elapsedLabel) {
var elapsed = Math.round(new Date().getTime() - ytm.startTime);
var img = new Image();
var id = ytm.nextiref_++;
ytm.iref[id] = img;
img.onload = img.onerror = function() {
delete ytm.iref[id];
}
img.src = 'https://csi.gstatic.com/csi' + '?v=2&s=youtube_mobile&action=' + action + '&e=' + expId + '&ec=' + errorCode + "&rt=" + elapsedLabel + "." + elapsed;
img = null;
}
/* ]]> */
</script>
</head>
<body style="color:#333;font-size:13px;font-family:sans-serif;margin:0;background-color:#fff">
<!-- BEGIN TOP BAR -->
<table width="100%" cellspacing="0">
<tbody><tr>
<td style="padding: 6px 0 2px 5px; font-size: 0" valign="top">
<a href="/">
<img src="/yts/img/pic_ytlogo_58x20-vfl124299.gif" alt="YouTube logo" style="border:0;margin:0px;" width="58" height="20">
</a>
<a id="top"></a>
</td>
<td style="padding-right: 3px" valign="middle" align="right">
<span style="color:#000000"><a href="https://www.google.com/accounts/ServiceLogin?uilel=3&amp;service=youtube&amp;btmpl=mobile&amp;passive=true&amp;continue=http%3A%2F%2Fm.youtube.com%2Fsignin%3Faction_handle_signin%3DTrue%26warned%3D1%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252F&amp;hl=en_US&amp;ltmpl=mobile">Sign In</a></span>
</td>
</tr>
</tbody>
</table>
<!-- END TOP BAR -->
<div style="height:1px;width:1px;overflow:hidden"><img src="http://static.2mdn.net/1275935/trans_gif1x1.gif" width="1" height="1"></div>
<!-- BEGIN SEARCH BAR -->
<div style="margin-left:3px;margin-right:3px">
<form id="searchForm" action="/results.php?hl=en&amp;gl=US&amp;client=mv-google" method="get" style="padding:5px 0">
<div>
<input name="hl" type="hidden" value="en">
<input name="gl" type="hidden" value="US">
<input name="client" type="hidden" value="mv-google">
<input id="searchQuery" accesskey="*" name="q" type="text" size="15" maxlength="128" style="color:#333;padding:0;font-family:sans-serif;width:65%" value="">
<input type="submit" name="submit" value="Search" style="padding:0;color:black;margin-top:2px;font-size:100%">
</div>
</form>
</div>
<!-- END SEARCH BAR -->
<hr style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;" size="1" noshade="noshade" color="#999">
<!-- BEGIN CONTENT DIV -->
<div>
{% block mainContent %}{% endblock %}
</div>
<hr style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;" size="1" noshade="noshade" color="#999">
<div id="botPagination">			<div style="margin-top:8px;text-align:center">
<span style="padding:0px 3px">
<a accesskey="#" href="/index?hl=en&amp;gl=US&amp;client=mv-google&amp;p=2">Next page »</a>
</span>
</div>
</div>
<br>
<hr style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;" size="1" noshade="noshade" color="#999">
<br>
<div style="margin-left:3px;margin-right:3px">
<div style="padding-bottom:0"><a href="/?hl=en&amp;gl=US&amp;client=mv-google#top" accesskey="0">YouTube Home</a></div>
<div style="padding-bottom:0"><a href="/videos?s=mp&amp;t=t&amp;hl=en&amp;gl=US&amp;client=mv-google#top">Browse Videos</a></div>
<div style="padding-bottom:0"><a href="/my_account?hl=en&amp;gl=US&amp;client=mv-google#top">My Account</a></div>
<div style="padding-bottom:0"><a href="/my_videos_upload?hl=en&amp;gl=US&amp;client=mv-google#top">Upload</a></div>
</div>
<br>
<div style="border-top:1px solid #999;font-size:80%;background:#EEE;text-align:center">
<br>
<div>
Location:
<a href="/select_site?action_country=1&amp;next=%2F&amp;hl=en&amp;gl=US&amp;client=mv-google">Worldwide</a>
-
Language:
<a href="/select_site?action_language=1&amp;next=%2F&amp;hl=en&amp;gl=US&amp;client=mv-google">English</a>
</div>
<div>
<a href="https://www.google.com/accounts/ServiceLogin?uilel=3&amp;service=youtube&amp;btmpl=mobile&amp;passive=true&amp;continue=http%3A%2F%2Fm.youtube.com%2Fsignin%3Faction_handle_signin%3DTrue%26warned%3D1%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252F&amp;hl=en_US&amp;ltmpl=mobile">Sign In</a>
</div>
<div>
<a href="/help?hl=en&amp;gl=US&amp;client=mv-google">Help</a>
-
<a href="/terms?hl=en&amp;gl=US&amp;client=mv-google">Terms &amp; Privacy</a>
</div>
<br>
<b>Mobile</b>
| <a href="http://www.youtube.com/">Desktop</a>
<div>© 2009 YouTube, LLC. 3gpipe frontend by <a href="https://github.com/cppbwitter/3gpipe">Ian</a></div>
<br>
</div>

</body></html>